* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app__header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.app__headerImage {
  object-fit: contain;
}
.app__signup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 20px;
}
.app__posts {
  max-width: fit-content;
  padding: 10px;
  margin: 10px auto;
}
